footer hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


footer p {font-size: 14px;
}


p a img{height: 25px;
width: 3%;}


@media (max-width: 600px){
  p a img{width: 10%;}
}


@media (min-width: 700px) and max-height(1366px){
  p a img{height: 60px;
  width: 20%;}
}
